<p>
  <strong>Phone number:</strong>
  <%= @send.sender_phone_number %>
</p>
<p>
  <strong>Id number:</strong>
  <%= @send.sender_id_number %>
</p>
<p>
  <strong>Recepient phone number:</strong>
  <%= @send.recepient_phone_number %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @send.amount %>
</p>