<div id = "backpage">
    <div class = "welcome">
        <h3>Welcome to mpesa app</h3><br>
    </div>
    <div class = "signup-link">
        <p><%= link_to "Sign up now!", new_user_path %><p>
    </div>
</div>