<p>
  <strong>First name:</strong>
  <%= @deposit.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @deposit.last_name %>
</p>
<p>
  <strong>Balance:</strong>
  <%= @deposit.deposits %>
</p>